---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lucida Grande, Dejavu Sans, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
$mono-font-family: Monaco, Dejavu Sans Mono, Consolas, monospace;

$tiny-font-size:    12px;
$small-font-size:   13px;
$base-font-size:    14.4px;
$medium-font-size:  16px;
$big-font-size:     18px;
$large-font-size:   22px;
$huge-font-size:    26px;
$base-line-height:  1.8;

$spacing-unit:      30px;
$spacing-half:      15px;

$bg-color:          powderblue;
$paper-color:       #fcfcfc;
$paper-border-color:#808080;
$paper-shadow-color:black;
$grey-color:        #252525;
$light-grey-color:  lighten($grey-color, 12%);
$blue-color:        #2a7ae2;
$red-color:         red;

$paper-width:       740px;
$header-height:     64px;
$footer-height:     48px;
$viewport-min-width:$paper-width+$spacing-unit*2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-light"
;
