<footer class="site-footer">

  <div class="wrapper">

          <div class="footer-col-left">
              {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <span class="icon  icon-twitter">
                      <img src="/images/twitter.svg" />
                  </span>
              </a>
              {% endif %}

              {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}">
                  <span class="icon  icon-github">
                      <img src="/images/github.svg" />
                  </span>
              </a>
              {% endif %}

              {% if site.zhihu_username %}
              <a href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                  <span class="icon  icon-zhihu">
                      <img src="/images/zhihu.svg" />
                  </span>
              </a>
              {% endif %}
          </div>

          <div class="footer-col-right">
              <a rel="license" href="https://creativecommons.org/licenses/by-nd/3.0/">
                  <span class="icon-rect">
                      <img src="/images/nd-cc.svg" />
                  </span>
              </a>
          </div>

  </div>

</footer>
