<header class="site-header">

    <div class="wrapper">

        {% if page.url == "/index.html" %}
        <span class="site-title"><span class="normal">{{ site.title }}</span></span>
        {% else %}
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% endif %}

        <nav class="site-nav">
            {% for subpage in site.pages %}
                {% if subpage.title %}
                    {% if subpage.url == page.url %}
                        <span class="page-link"><span class="normal">{{ subpage.title }}</span></span>
                    {% else %}
                        <a class="page-link" href="{{ subpage.url | prepend: site.baseurl }}">{{ subpage.title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>

    </div>

</header>
