/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    text-align: justify;
    color: $grey-color;
    background: $bg-color;

    @media screen and (max-width: $viewport-min-width) {
        background: $paper-color;
    }
}


/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, hr, table, .highlight,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $base-font-family;
  color: $grey-color;
  //letter-spacing: -0.03em;
/*
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
*/
}

p {
    word-break: break-all;
}

/**
 * Images
 */
img {
    max-width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    display: block;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Links
*/
a {
    color: $blue-color;
    text-decoration: none;
    outline: 0;

    &:hover {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                     0 0 5px rgba(104, 182, 255, 0.1),
                     0 0 10px rgba(104, 182, 255, 0.1);
        //text-shadow: 0 0px 2px rgba(100, 182, 255, 0.2);
    }
}




/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $light-grey-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
code {
    font-family: $mono-font-family;
    font-size: $base-font-size - 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 4px;
    background: #f5f2f0 none repeat scroll 0% 0%;
}

.highlight {
    font-family: $mono-font-family;
    font-size: $base-font-size - 2px;

    > pre {
        padding: 4px 10px;
        overflow-x: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #f5f2f0 none repeat scroll 0% 0%;
        margin-bottom: 0px;

        > code {
            border: none;
            padding: 0px;
        }

        table, pre {
            margin: 0px;
            padding: 0px;
        }

        td {
            padding: 0 0 0 1em;
        }

        td:first-child {
            padding: 0px;
        }
    }
}


/**
 * Tables
 */
table, th, td {
    border-collapse: collapse;
    border: solid 1px black;
    font-size: $base-font-size - 2px;
    padding: 4px 6px;
}

code > table, th, td {
    border: none;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc($paper-width - (#{$spacing-unit} * 2));
    max-width:         calc($paper-width - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit*1.2;
    padding-left: $spacing-unit*1.2;
    @extend %clearfix;
}

.paper {
    max-width: $paper-width;
    margin: $spacing-unit auto;
    background: $paper-color;

    border: 1px solid $paper-border-color;
    box-shadow: 2px 2px 4px $paper-shadow-color;

    @media screen and (max-width: $viewport-min-width) {
        margin: 0 auto;
        border: none;
        box-shadow: none;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {
    > img {
        display: inline-block;
        width: $big-font-size;
        height: $big-font-size;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.icon-rect {
    > img {
        display: inline-block;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.lineno {
    color: gray;
}
