
/**
 * Site header
 */
.site-header {
    height: $header-height;
    border-bottom: 1px dashed $light-grey-color;
}

.site-title {
    font-size: $huge-font-size;
    line-height: $header-height;
    float: left;
    
    .normal {
        color: $grey-color;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        .normal {
            color: $grey-color;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    height: $footer-height;
    border-top: 1px dashed $light-grey-color;
    line-height: $footer-height;
}

.footer-col-left {
    float: left;
}

.footer-col-left a {
    &:not(:last-child) {
        margin-right: 0.6em;
    }
}

.footer-col-right {
    float: right;
    text-align: right;
}

.footer-col-right a {
    &:not(:first-child) {
        margin-left: 0.6em;
    }
}



/**
 * Backtop
 */
#backtop {
    position: fixed;
    width: $spacing-unit;
    height: $spacing-unit;
    line-height: $spacing-unit;
    right: 0;
    bottom: $spacing-unit*1.5 + $footer-height;
    font-size: $spacing-unit * 0.8;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

#backtop.bt-is-visible {
    visibility: visible;
    opacity: 1;
}



/**
 * Page content
 */
.page-content {
    min-height: 400px;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-half;

        h2 a {
        }
    }

}

.post-meta {
    display: block;
    font-size: $tiny-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $medium-font-size;
    padding: 0.2em 0;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $large-font-size;
    line-height: 1;
}

.post-content {
    //-ms-text-spacing: ideograph-alpha;

    h1 {
        font-size: $base-font-size * 1.5;
    }

    h2 {
        font-size: $base-font-size * 1.3;
    }

    h3 {
        font-size: $base-font-size * 1.2;
    }

    h4 {
        font-size: $base-font-size * 1.1;
    }

    sup a:before{
        content: "[";
    }
    sup a:after{
        content: "]";
    }

    .footnotes {
        border-top: 1px solid #666;
        padding-top: $spacing-unit / 2;
        font-size: $small-font-size;
    }

    .footnotes code {
        font-size: $small-font-size - 2px;
    }

    .footnotes ol {
        counter-reset: idx 0;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        @extend %clearfix;
    }

    .footnotes li {
        float: left;
        width: 90%;
        margin-left: 2em;
    }

    .footnotes li:before {
        float: left;
        content: '[' counter(idx) '] ';
        counter-increment: idx;
        width: 2em;
        text-align: right;
        margin-left: -2em;
    }

    .footnotes li:target  {
        color: $red-color;
    }

    .footnotes p {
        float: left;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }
}


