<!DOCTYPE html>
<html>
    
    {% include head.html %}

    <body>
        <div class="viewport">
            {% include header.html %}

            <div class="site-central wrapper2">
                <div class="page-content">
                    <div class="wrapper">
                        {{ content }}
                    </div>
                </div>
            </div>

            {% include footer.html %}

            <div id="backtop"><a href="">&#x2934;</a></div>
        </div>
    </body>

</html>
