---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{% if site.author %}{{ site.author }} • {% endif %}{% if page.meta %}{{ page.meta }} • {% endif %}{{ page.date | date: "%B %-d, %Y" }}</p>
    </header>

    <article class="post-content" id="post-content">
        {{ content }}
    </article>

    <script type="text/javascript" src="/js/auto-counter.js"></script>

    {% include disqus.html %}
</div>

